<footer class="page__footer">
    <div class="page__footer__content">
        <div class="row row--align-left">
            <div class="row__item row__item--basis-15">
                <h1 class="text--default-size text--pull"><strong>Dynamiske cases </strong> <span
                        class="u-avoid-wrap">is built and maintained by:</span></h1>
                <p>CED - Centre for Educational Development<br>Trøjborgvej 88<br>8000 Aarhus C,
                    Denmark
                </p>
            </div>
            <div class="row__item row__item--basis-15">
                <h2 class="text--default-size text--strong text--pull">Contact</h2>
                <ul class="list--dense ul--no-bullets">
                    <li>Kasper Lauritzen at <a href="mailto:kalau@au.dk">kalau@au.dk</a></li>
                    <li>Mads Ronald Dahl at <a href="mailto:wiz@au.dk">wiz@au.dk</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page__footer__artwork">
        <div class="artwork-peto" aria-hidden="true">
            <div class="artwork-peto__foreground"><svg viewBox="0 0 600 200"><text x="0" y="100">Delphi</text><text
                        x="0" y="200">nus</text></svg></div>
            <div class="artwork-peto__background"><svg viewBox="0 0 600 200"><text x="0" y="100">Design</text><text
                        x="0" y="200">System</text></svg></div>
        </div>
    </div><object class="page__footer__logo" role="img" type="image/svg+xml" tabindex="-1"
        aria-labelledby="page-footer-logo">
        <p id="page-footer-logo">The logo of Aarhus University.</p>
    </object><object class="page__footer__seal" role="img" type="image/svg+xml" tabindex="-1"
        aria-labelledby="page-footer-seal">
        <p id="page-footer-seal">The seal of Aarhus University. The seal depicts an anchor surrounded by two
            dolphins. The university motto and Latin name are written on the outline: Solidum petit in profundis -
            Universitas Arhusiensis.</p>
    </object>
</footer>